@font-face {
  font-family: "iconfont"; /* Project id 4172742 */
  src: url('iconfont.woff2?t=1696257048675') format('woff2'),
       url('iconfont.woff?t=1696257048675') format('woff'),
       url('iconfont.ttf?t=1696257048675') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanzhong:before {
  content: "\e620";
}

.icon-bishuamoji1:before {
  content: "\e67c";
}

.icon-bishuamoji4:before {
  content: "\e67d";
}

.icon-chuantongwenshi2:before {
  content: "\e614";
}

.icon-chuantongwenshi3:before {
  content: "\e618";
}

.icon-chuantongwenshi4:before {
  content: "\e619";
}

.icon-chuantongwenshi5:before {
  content: "\e61a";
}

.icon-wenshi:before {
  content: "\e61f";
}

.icon-xiankuang-21:before {
  content: "\e766";
}

.icon-xiankuang-25:before {
  content: "\e767";
}

.icon-xiankuang-26:before {
  content: "\e769";
}

.icon-shuhuaw:before {
  content: "\e607";
}

.icon-MGL-R3:before {
  content: "\e61d";
}

.icon-huachuang:before {
  content: "\e60b";
}

.icon-quanguojiaoyituan:before {
  content: "\e608";
}

.icon-mt:before {
  content: "\e603";
}

.icon-chunjie-denglong:before {
  content: "\ec4d";
}

.icon-a-2rt53k6cjnn49zfu-kewj4lq2:before {
  content: "\e604";
}

.icon-chuantongwenshi:before {
  content: "\e613";
}

.icon-chuantongwenshi1:before {
  content: "\e615";
}

.icon-wenshi1:before {
  content: "\e61e";
}

.icon-MGL-R1:before {
  content: "\e605";
}

.icon-MGL-R1-copy-copy:before {
  content: "\e606";
}

.icon-24gf-chartPie:before {
  content: "\e849";
}

.icon-24gl-folderStar:before {
  content: "\eac0";
}

.icon-24gl-folderMinus:before {
  content: "\eabf";
}

.icon-24gl-folderOpen:before {
  content: "\eabe";
}

.icon-xinjianwenjianjia:before {
  content: "\e6f8";
}

.icon-iconfontzhizuobiaozhunbduan30:before {
  content: "\e6e4";
}

.icon-iconfontzhizuobiaozhunbduan31:before {
  content: "\e6e5";
}

.icon-xinpin:before {
  content: "\e602";
}

.icon-weizhifu:before {
  content: "\e601";
}

.icon-yizhifu:before {
  content: "\e600";
}

.icon-xitongguanlihoutai:before {
  content: "\e65c";
}

.icon-imageStoreFilled:before {
  content: "\e62f";
}

.icon-xin:before {
  content: "\e61c";
}

.icon-erweima:before {
  content: "\e62b";
}

.icon-24gf-pictures:before {
  content: "\e9f4";
}

.icon-fanhui:before {
  content: "\e72e";
}

.icon-zhongxinshouquan:before {
  content: "\e6f7";
}

.icon-baoguofahuo:before {
  content: "\e884";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-shanchusekuai:before {
  content: "\ec45";
}

.icon-bianji:before {
  content: "\e62a";
}

