.el-loading-spinner {
  /*这个是自己想设置的 gif 加载动图*/
  background-image: url('../logo/b_64.png');
  background-repeat: no-repeat;
  background-size: 50px 40px;
  height: 50px;
  width: 100%;
  /*设置图片旋转360度*/
  -webkit-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite;
  background-position: center;
  /*覆盖 element-ui  默认的 50%    因为此处设置了height:100%,所以不设置的话，会只显示一半，因为被top顶下去了*/
  top: 40%;
}


@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
.el-loading-spinner .circular {
  /*隐藏 之前  element-ui  默认的 loading 动画*/
  display: none;
}

.el-loading-spinner .el-loading-text {
  /*为了让文字在loading图下面*/
  margin: 106px 0px;
  color: #da70a0;
}
