$theme-color: rgb(21, 24, 34);// #151822
$theme-secondary-color: rgb(42, 48, 68);
$theme-right-msg-color: rgb(170, 0, 10);//#aa000a
$theme-third-color:  rgb(21, 24, 34);
$theme-fourth-color: rgb(6,192,95);
$theme-fifth-color: rgb(0,82,217);
//$theme-secondary-color: rgb(137,217,97);
//$theme-right-msg-color: rgb(149, 236, 105);
$theme-red-color: rgb(251,115,115);
$theme-grey-color: rgb(245, 245, 245);// #f5f5f5
$theme-border-color: rgb(231, 231, 231);//#E7E7E7
$theme-btn-other-color: rgb(77,77,77);
$theme-btn-other-hover-color: rgb(210,210,210);//#ddd
$theme-icon-color: rgb(198,197,197);
$theme-words-color: rgb(153, 153, 153);//#999999
$theme-black-grey-color: rgb(96, 98, 102);
$theme-black-color: rgb(22, 22, 22);
$theme-light-black-color: rgb(51, 51, 51);//#333
$theme-input-color:  rgb(226, 226,226);
$theme-icon-bottom-color:  rgb(81, 81,81);


@mixin scroll-bar-box{
  &::-webkit-scrollbar{
    /*滚动条整体样式*/
    width: 9px; /*高宽分别对应横竖滚动条的尺寸*/
    //background-color: $theme-grey-color;
    height: 9px;
    background-color:transparent;
  }
  &:hover::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    height: 20px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
    background-color:rgba(0,0,0,0.2);
  }
}
@mixin words-auto-br{
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
}
@mixin yes-btn{
  border-radius: 4px;
  cursor: pointer;
  color: $theme-color;
  background-color: $theme-border-color;
  border: none;
  &:visited,&:focus,&:visited{
    background-color:$theme-icon-color;
    color: $theme-color;
  }
  &:hover{
    color: #fff;
    background-color: $theme-secondary-color;
  }
}
@mixin yes-full-btn{
  color: #FFF;
  background-color: $theme-color;
  border: none;
  &:hover,&:focus{
    color: #FFF ;
    background-color: $theme-secondary-color !important;
  }
  &:focus{
    background-color: $theme-black-grey-color !important;
  }
}

@mixin close-btn{
  padding: 5px 10px;
  cursor:pointer;/*鼠标变小手*/
  &:hover{
    background-color: $theme-red-color;
    color: #ffffff !important;
  }
}
@mixin no-btn{
  border-radius: 4px;
  color: $theme-color;
  background-color: $theme-border-color;
  border: none;
  &:hover,&:focus{
    background-color: $theme-btn-other-hover-color;
    color: $theme-color;
    border-color: none;
  }
}
// 设置页面专用按钮
@mixin setting-no-btn{
  background: $theme-border-color;
  color: $theme-black-color;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  &:hover,&:visited,&:focus{
    background: $theme-btn-other-hover-color;
    color: $theme-black-color;
  }
}

@mixin icon-yes-btn($color:$theme-icon-color){
  color: $color;
  cursor: pointer;
  &:hover,&:focus{
    cursor: pointer;
    color: $theme-color;
  }
}

@mixin icon-close-btn($color:$theme-icon-color){
  color: $color;
  cursor: pointer;
  &:hover,&:focus{
    color: $theme-red-color;
  }
}

@mixin value-box{
  margin-left: 5px;
  color: #000;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
@mixin label-box{
  color: $theme-words-color;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
@mixin input-box{
  background-color: $theme-input-color;
  color: #000000;
  border-color: $theme-input-color;
  &:focus{
    background-color: #ffffff;
  }
}
@mixin tip-message{
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !important;
  border-color: transparent !important;
  color: white !important;
  background: $theme-black-grey-color !important;
}
@mixin select-option-box{
  .options-label{
    width: 100px;
    overflow: hidden;        /*内容会被修剪，并且其余内容是不可见的*/
    text-overflow:ellipsis;  /*显示省略符号来代表被修剪的文本。*/
    white-space: nowrap;     /*文本不换行*/
    float: left;
  }
  .options-type{
    float: right; color: $theme-icon-color; font-size: 14px
  }
}
@mixin table-box{
  background: $theme-grey-color;
  overflow-y: auto;
  @include scroll-bar-box;
  .el-table__body-wrapper{
    background: $theme-grey-color;
    @include scroll-bar-box;
  }
  .gutter{
    background-color: $theme-grey-color !important;
  }
}
@mixin textarea-box{
  resize: none;
  border-radius: 4px;
  border:2px dotted $theme-border-color;
  padding: 10px;
  background: $theme-grey-color;
  &:hover,&:focus,&:visited{
    border:2px dotted $theme-black-grey-color;
  }
}
@mixin message-box{
  background: $theme-grey-color;
  border-radius: 4px !important;
  color: white;
  border: 2px dotted rgba(255, 255,255,0.7) !important;
  -webkit-box-shadow: 0px 1px 1px 0 rgba(223, 223, 223, 0.3) !important;
  box-shadow: 0px 1px 1px 0 rgba(223, 223, 223, 0.3) !important;
  .el-message-box__title{
    color:rgba(239,240, 240);
    line-height: 40px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }
  .el-message-box__header{
    background: $theme-third-color;
    padding: 0px 0 0 10px;
    line-height: 40px;
    height: 40px;
  }
  .el-message-box__headerbtn{
    top: 0px;
    font-size: 14px;
    right: 0px;
  }
  .el-message-box__headerbtn .el-message-box__close{
    color: black;
    @include close-btn;
  }
  .el-message-box__message {
    color: $theme-color;
    font-size: 14px;
  }
}
@mixin dialog-box{
  background: $theme-grey-color !important;
  border-radius: 4px;
  border: 1px dashed rgba(210, 209,208,0.7);
  -webkit-box-shadow: 0px 1px 1px 0 rgba(223, 223, 223, 0.3);
  box-shadow: 0px 1px 1px 0 rgba(223, 223, 223, 0.3);
  .el-dialog__body {
    //padding: 15px 20px;
    color: black;
    //height: 80px;
  }
  .el-button--success {
    @include yes-full-btn;
  }
  .delete-give-up-btn{
    @include no-btn;
  }
  .el-dialog__header{
    color:rgba(239,240, 240);
    background: $theme-third-color;
    padding: 0px 0 0 10px;
    line-height: 40px;
    height: 40px;
  }
  .el-dialog__title {
    font-weight: 500;
    color: $theme-words-color;
    font-size: 14px;
  }
  .el-dialog__headerbtn{
    top: 0px;
    font-size: 14px;
    right: 0px;
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: black;
    @include close-btn;
  }
}
@mixin right-tag-box{
  z-index: 1024;
  width: 74px;
  height: 74px;
  position: absolute;
  right: -5px;
  top: -5px;
  overflow: hidden;
  -webkit-font-smoothing: auto;
  .right-tag{
    width: 104px;
    height: 20px;
    color: #fff;
    right: -22px;
    top: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: $theme-fourth-color;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    &:before,&:after{
      background-color: $theme-fourth-color;
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:before{left: 0;top: 17px;width: 5px;height: 6px;content: "";display: inline-block;}
    &:after {width: 6px;height: 5px;bottom: -2px;right: 0;content: "";display: inline-block;}
  }
}
@mixin markdown-box{
  &:hover{
    .v-show-content,.v-note-show{
      background-color: rgb(235,235,235) !important;
    }
  }
  .v-note-wrapper .v-note-panel{
    min-height: auto;
  }
  .v-note-panel{
    min-height: 350px;
  }
  .v-note-wrapper {
    min-width: auto!important;
    min-height: auto!important;
    .v-show-content{
      background-color: white !important;
    }
    &:hover{
      .v-show-content,.v-note-show{
        background-color: rgb(235,235,235) !important;
      }
    }
  }
  .v-note-wrapper.shadow {
    box-shadow: none !important;
  }
  .v-note-img-wrapper{
    background: white !important;
  }
  .v-note-help-wrapper{
    z-index: 2020!important;
  }
  .v-note-wrapper .v-note-op{
    background: $theme-grey-color !important;
  }
}

@mixin preview-pic-box{
  background: $theme-grey-color !important;
  border-color: $theme-grey-color !important;
  box-shadow: 2px 2px 3px 1px $theme-words-color;
  position: fixed!important;
  top: 18%!important;
  right: 28%!important;
  bottom: 18%!important;
  left: 28%!important;
  padding: 25px 0px!important;
  &:focus-visible {
    outline: -webkit-focus-ring-color auto 0px!important;
  }
  .el-image-viewer__mask {
    opacity: 100%;
    background: $theme-grey-color;
    border-color: $theme-grey-color;
  }
  .el-image-viewer__close{
    color: black;
    top: 0px;
    right: 0px;
    background: transparent;
    width: auto;
    height: auto;
    font-size: 14px;
    @include close-btn;
    &:hover{
      border-radius: 0px;
    }
  }
  .el-image-viewer__next,.el-image-viewer__prev {
    //background-color: transparent !important;
    &:hover {
      background-color: $theme-black-grey-color !important;
      width: 34px;
      height: 34px;
    }
  }
  .el-image-viewer__actions__inner{
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  .el-image-viewer__actions {
    left:80px;
    width: 200px;
    height: 26px;
    padding: 0 23px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 22px;
    top: -1px;
  }
}

@mixin preview-picture-box{
  .picture-btn{
    color: transparent;
    position: absolute;
    top: 10%;
    left: 42%;
    font-size: 40px;
  }
  &:hover,&:focus,&:visited{
    .picture-btn{
      cursor: pointer;
      color: $theme-fourth-color;
    }
  }
}

@mixin content-card{
    color: #777;
    font-weight: bold;
    display: block;
    cursor: pointer;
    background-image: linear-gradient(0deg,#f5f5f5,#f3f5f8);
    border: 2px solid #fff;
    box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1), -8px -8px 20px 0 #fff;
    border-radius: 4px;
    &:hover,&:focus{
      -webkit-box-shadow:none;
      box-shadow:none;
      text-decoration: none;
      background-color: $theme-grey-color;
      color: $theme-color;
      display: block;
      box-shadow: 10px 10px 22px 0 rgba(55,99,170,.3), -8px -8px 20px 0 #fff;
    }
}
@mixin text-auto-thumbnail{
  white-space: nowrap; /*强制内容在一行显示*/
  overflow: hidden; /*超出部分溢出*/
  text-overflow: ellipsis; /*溢出的部分使用省略号*/
}
@mixin hover-word-btn{
  .word-btn-content{
    display: none;
  }
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  &:hover,&:focus,&:active{
    .word-btn-content{
      display: block;
    }
    .word-btn-default{
      display: none;
    }
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  &:hover:before,&:focus:before,&:active:before{
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
}
